/* ==UserStyle==
@name           Tiny 8kun Enhancements
@namespace      USO Archive
@author         SlippingGitty
@description    `This theme is built on top of Tomorrow, so be sure the select that in [Options] > Themes, and check "Apply to all boards". If there is anything I missed, feel free to tell me and/or edit the CSS yourself. I tried to keep it as simple as possible so others could take it and make their own themes.`
@version        20210116.0.1
@license        DWTFYWT
@preprocessor   uso
==/UserStyle== */
@-moz-document domain("8kun.top") {
/*** This custom CSS was made specifically for the 8kun Tomorrow theme. Adjusting the color for other themes is very well easy, and I will do the best I can to make sure of it. ***/



/* Board List */
div.boardlist {
    background: linear-gradient(rgb(55, 57, 61), rgba(40, 42, 46, 0.9)) !important;
    color: #C5C8C6;
}

div.boardlist:nth-of-type(1) {
    border-bottom: 1px solid #11111163 !important;
}

/* Hide Crypto Ad */
.thread_ads {
    display: none;
}

/* Hide Banner Ad */
img.banner,
img.board_image {
    display: none;
}
    
/* Hide Bottom Board List */
    div.boardlist.bottom {
    margin-top: 12px;
    clear: both;
    display: none;
}
    

/* Posting and Reply Box */
input[type="text"],
input[type="password"],
textarea {
    border: 1px solid #c5c8c64a;
    background-color: #0000003d;
    color: #C5C8C6;
}

/* Username color */
p.intro span.name {
    color: #9fd2ff;
}

span.capcode {
    color: purple !important;
    background-color: #0000;
}

  
/* Board Name and Subtitle */
header div.subtitle, h1 {
    text-align: right;
}

/* Sorting Modes */
div.banner, div.banner a {
    color: #81a2be;
    text-align: right;
    font-size: smaller;
}

/* Hover Post Creator */
#post-form-outer:not(:hover) {
    opacity: 0 !important;
    height: 00px;
    background-color: #2c2f32;
}

#post-form-outer {
    transition: opacity .25s ease-in-out;
    float: right;
    width: 300px;
}

/* Replies */
div.post.reply.has-file.body-not-empty, div.post.reply  {
	display: flow-root;
	margin-bottom: -13px !important;
	border-radius: 3px !important;
    border: 1px solid #373B41;
}
    
/* Images */
    .post-image, .post.reply {
    border-radius: 3px !important;
    }
}

/* Post/Reply Number */
p.intro a, span.omitted a {
    text-decoration: underline;
}



/***            DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
                   Version 2, December 2004
 
Copyright (C) 2004 Sam Hocevar <sam@hocevar.net>

Everyone is permitted to copy and distribute verbatim or modified
copies of this license document, and changing it is allowed as long
as the name is changed.
 
           DO WHAT THE FUCK YOU WANT TO PUBLIC LICENSE
  TERMS AND CONDITIONS FOR COPYING, DISTRIBUTION AND MODIFICATION

 0. You just DO WHAT THE FUCK YOU WANT TO.      ***/
